@import url('./_type_black/header__items_type_black.css');
@import url('./_type_white/header__items_type_white.css');

.header__items {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .header__items {
      width: 100vw;
      position: absolute;
      z-index: 2;
      top: -5vw;
      right: -5vw;
      display: none;
      flex-direction: column;
      box-sizing: border-box;
      padding-top: 15vw;
  }
}
