@import url('./__subtitle/user-data__subtitle.css');
@import url('./__title/user-data__title.css');
@import url('./__keywords/user-data__keywords.css');

.user-data {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
}